<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        div h2 {
            display: block;
            margin: 0 auto;
        }

        .full-table {
            border-collapse: collapse;
            margin-bottom: 30px;
            font-size: large;
            font-family: Georgia;
            background: #f5f5f5;
            border: 2px solid #ddd;
        }

        .full-table th,
        .full-table td {
            padding: 10px;
            text-align: center;
            border: 1px solid #ddd;
        }

        .full-table th {
            background-color: #333333;
            color: #fff;
        }

        .full-table tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>

    <div>
        <h2>Filtered Ship Wreck Data</h2>

    </div>

    {{{body}}}

</body>

</html>